*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(98, 15, 243);
    color: white;
}

.main
{
 margin: 150px;
 margin-left: 350px;
    height: 500px;
    width: 610px;
    padding: 40px;
    border: solid;
    border-width: 15px;
    border-color: black;
}
.d
{
    padding: 20px;
}
header{
    font-size: 30px;
}
button{
  
    height: 40px;
    width: 150px;
    text-align: center;
    background-color: chartreuse;
    border-radius: 6px;
    font-size: 20px;
    color: black;
    margin-left: 200px;
   
}